@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
	--card-size: 400px;
	--card-gap: 8px;
	--card-padding: 30px;
	--computer-one-primary: #8DD002;
	--computer-one-secondary: #3B5B00;
	--player-primary: #00B6CE;
	--player-secondary: #004E5A;
	--computer-two-primary: #EF558B;
	--computer-two-secondary: #A42134;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
}

/* opening modal */
#blur {
	background: rgba(255,255,255,.6);
	backdrop-filter: blur(9px);
	position: fixed;
	height: 100%;
	transition: .2s ease-in-out;
	width: 100%;
	z-index: 999;
}

#blur.slow {
	transition: .8s ease-in-out;
}

.modal {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: .4s ease-in-out;
}

#blur.hide, #modal-two.hide {
	opacity: 0;
	visibility: hidden;
}

#modal-one.hide, #modal-two.animate {animation: 1s modal-one 1;}

@keyframes modal-one {
	0% {transform: translate(-50%, -50%) scale(1);}
	50% {transform: translate(-50%, -50%) scale(0.9);}
	100% {transform: translate(-50%, -50%) scale(10);}
}

#modal-one {
	display: grid;
	font-family: 'MADE Tommy Soft Bold';
	grid-template-areas:
		'win win win win'
		'card card card card'
		'label label label label'
		'start start start start';
	grid-gap: 20px;
	grid-template-columns: repeat(4, 150px);
	padding: 30px;
	text-transform: uppercase;
}

#modal-two {
	color: #333;
	font: 500 14px/18px 'MADE Tommy Soft 500', Arial, Helvetica, sans-serif;
	text-align: center;
	width: 450px;
}

/* opening modal header */
#ways-to-win {
	grid-area: win;
	margin-bottom: 10px;
	text-align: center;
}

#ways-to-win h1 {
	color: var(--player-secondary);
	font-size: 26px;
}

/* winning examples */
.card {
	border-radius: 4px;
	height: 150px;
	padding: 10px;
	width: 150px;
}

.card-container {
	border-radius: 4px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(5, calc(20% - 5px));
	grid-template-rows: repeat(5, calc(20% - 5px));
	height: 100%;
	padding: 5px 0 0 5px;
	width: 100%;
}

.card-one {background-color: var(--computer-one-primary);}
.card-one .card-container {background-color: var(--computer-one-secondary);}
.card-two {background-color: var(--player-primary);}
.card-two .card-container {background-color: var(--player-secondary);}
.card-three {background-color: var(--computer-two-primary);}
.card-three .card-container {background-color: var(--computer-two-secondary);}
.card-four {background-color: #818181;}
.card-four .card-container {background-color: #383838;}

.example-tile {
	background-color: #fff;
	border-radius: 2px;
}

.card-one .example-tile.hit {background-color: var(--computer-one-primary);}
.card-two .example-tile.hit {background-color: var(--player-primary);}
.card-three .example-tile.hit {background-color: var(--computer-two-primary);}
.card-four .example-tile.hit {background-color: #818181;}

.label {text-align: center;}
.label.one {color: var(--computer-one-secondary);}
.label.two {color: var(--player-secondary);}
.label.three {color: var(--computer-two-secondary);}
.label.four {color: #383838;}

/* let's get started button */
#start {
  text-align: center;
  grid-area: start;
  width: 100%;
}

input#enter-your-name {
	background-color: transparent;
	border: 6px solid;
	border-radius: 4px;
	border-bottom-color: var(--player-secondary);
	border-left-color: var(--player-primary);
	border-radius: 4px;
	border-right-color: var(--player-secondary);
	border-top-color: var(--player-primary);
	color: var(--player-secondary);	
	cursor: pointer;
	font-family: 'MADE Tommy Soft Bold';
	font-size: 17px;
	margin-top: 20px;
	outline: none;
	padding: 8px 15px 9px 15px;
	text-align: center;
	text-transform: uppercase;
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
	width: 350px;
}

input#enter-your-name.shake, #card-blur input.shake {
	animation: .2s shake 1;
}

@keyframes shake {
  0% {transform: translateX(0);}
  25% {transform: translateX(5px);}
  50% {transform: translateX(0);}
  75% {transform: translateX(-5px);}
  100% {transform: translateX(0);}
}

input#enter-your-name::placeholder {color: var(--player-secondary);}

#modal-two h1 {
	color: var(--player-secondary);
	font: normal 20px/20px 'MADE Tommy Soft Bold';
	margin-bottom: 8px;
	text-transform: uppercase;
}

#tile-examples {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.example-winning-tile {
	align-items: center;
	background-color: transparent;
	border: 6px solid;
	border-radius: 4px;
	display: inline-flex;
	font-family: 'MADE Tommy Soft Bold';
	font-size: 15px;
	height: 50px;
	justify-content: center;
	margin: 0 5px;
	padding: 6px 12px;
	text-transform: uppercase;
	transition: .2s ease-in-out;
	width: 50px;
}

#enable-auto {
	margin-top: 20px;
}

#auto-button button {
	background-color: transparent;
	border: 6px solid;
	border-radius: 4px;
	border-bottom-color: var(--player-secondary);
	border-left-color: var(--player-primary);
	border-radius: 4px;
	border-right-color: var(--player-secondary);
	border-top-color: var(--player-primary);
	color: var(--player-secondary);	
	cursor: pointer;
	display: inline-block;
	font-family: 'MADE Tommy Soft Bold';
	font-size: 17px;
	outline: none;
	padding: 8px 15px 9px 15px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

#auto-button button.skip {
	margin-left: 10px;
}

#auto-button button:active {
	transform: translateY(2px);
}

main#bingo-cards {
	display: grid;
	grid-gap: 0 50px;
	grid-template-areas: 
		'card card card'
		'footer footer footer';
	grid-template-columns: repeat(3, auto);
	margin-bottom: auto;
	margin-top: auto;
	padding: 30px 0 0 0;
	position: relative;
	width: auto;
}

.computer-one-miss {
	color: var(--computer-one-secondary);
	left: 0;
}

.computer-two-miss {
	color: var(--computer-two-secondary);
	right: 0;
}

.miss {
	font-family: 'MADE Tommy Soft Bold';
	font-size: 30px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	transition: .4s ease-in-out;
	width: 365px;
}

.miss.hide {
	top: 30px;
	opacity: 0;
	visibility: hidden;
}

.miss.show {
	opacity: 1;
	top: -20px;
	visibility: visible;
}

.bingo-card {
	border-radius: 4px;
	box-shadow: 0 60px 70px -60px rgba(0,0,0,.2);
	height: var(--card-size);
	padding: 6px 20px 20px 20px;
	position: relative;
	transition: .8s ease-in-out, opacity .8s ease-in-out;
	width: calc(var(--card-size) - 35px);
	z-index: 9;
}

main#bingo-cards.three-way-tie #computer-one {transform: translateX(115px) rotate(-8deg);}
main#bingo-cards.three-way-tie #computer-two {transform: translateX(-115px) rotate(8deg);}
main#bingo-cards.computer-one-and-player-win #computer-one, main#bingo-cards.computer-one-and-computer-two-win #computer-one {transform: translateX(235px) rotate(-8deg);}
main#bingo-cards.computer-one-and-computer-two-win #computer-two, main#bingo-cards.player-and-computer-two-win #computer-two {transform: translateX(-235px) rotate(8deg);}
main#bingo-cards.computer-one-and-player-win #player {transform: translateX(180px) rotate(8deg);}
main#bingo-cards.player-and-computer-two-win #player {transform: translateX(-180px) rotate(-8deg);}
main#bingo-cards.computer-one-win #computer-one {transform: translateX(415px);}
main#bingo-cards.computer-two-win #computer-two {transform: translateX(-415px);}

main#bingo-cards.computer-one-and-player-win #computer-two, main#bingo-cards.computer-one-and-computer-two-win #player, main#bingo-cards.player-and-computer-two-win #computer-one, main#bingo-cards.computer-one-win #player, main#bingo-cards.computer-one-win #computer-two, main#bingo-cards.computer-two-win #computer-one, main#bingo-cards.computer-two-win #player {z-index: 2;}
main#bingo-cards.computer-one-and-player-win #computer-one, main#bingo-cards.computer-one-and-computer-two-win #computer-two, main#bingo-cards.player-and-computer-two-win #computer-two, main#bingo-cards.player-and-computer-two-win #computer-two {z-index: 3;}
main#bingo-cards.three-way-tie #player, main#bingo-cards.computer-one-and-player-win #player, main#bingo-cards.computer-one-and-computer-two-win #computer-one, main#bingo-cards.player-and-computer-two-win #player {z-index: 4;}

main#bingo-cards.computer-one-and-player-win #computer-two, main#bingo-cards.computer-one-and-computer-two-win #player, main#bingo-cards.player-and-computer-two-win #computer-one, main#bingo-cards.computer-one-win #player, main#bingo-cards.computer-two-win #computer-one, main#bingo-cards.computer-two-win #player, main#bingo-cards.computer-one-win #computer-two, main#bingo-cards.player-win #computer-one, main#bingo-cards.player-win #computer-two {
	opacity: 0;
	transform: scale(0);
}

#computer-one.bingo-card {background-color: var(--computer-one-primary);}
#player.bingo-card {background-color: var(--player-primary);}
#computer-two.bingo-card {background-color: var(--computer-two-primary);}

#card-blur {
	align-items: center;
	background-color: rgba(255,255,255,.6);
	backdrop-filter: blur(6px);
	color: #333;
	display: flex;
	flex-direction: column;
	font-family: 'MADE Tommy Soft Bold';
	height: 110%;
	justify-content: center;
	left: -17px;
	padding: 0 40px;
	position: absolute;
	text-align: center;
	top: -10px;
	transition: .4s ease-in-out;
	width: 110%;
}

#card-blur.hide {
	opacity: 0;
	visibility: hidden;
}

#card-blur {
	opacity: 1;
	visibility: visible;
}

#random-question {
	margin-bottom: 15px;
}

#card-blur input {
	background-color: transparent;
	border: 6px solid;
	border-bottom-color: var(--player-secondary);
	border-left-color: var(--player-primary);
	border-right-color: var(--player-secondary);
	border-top-color: var(--player-primary);
	color: var(--player-secondary);
	border-radius: 4px;
	cursor: pointer;
	font-family: 'MADE Tommy Soft Bold';
	font-size: 14px;
	outline: none;
	padding: 6px 15px 7px 15px;
	text-align: center;
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

#card-blur input::placeholder {
	color: var(--player-secondary);
}

.name {
	font-family: 'MADE Tommy Soft Bold';
	font-size: 20px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.name::before {
	background: #000;
	border-radius: 99px;
	content: '';
	height: 5px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	width: 100%;
}

#computer-one.bingo-card .name {
	color: var(--computer-one-secondary);
	left: -227px;
	top: 188px;
	transform: rotate(-90deg);
	width: 400px;
}

#computer-one.bingo-card .name::before {background-color: var(--computer-one-secondary);}

#player.bingo-card .name {
	color: var(--player-secondary);
	left: 0;
	top: -40px;
}

#player.bingo-card .name::before {background-color: var(--player-secondary);}

#computer-two.bingo-card .name {
	left: 192px;
	color: var(--computer-two-secondary);
	top: 188px;
	transform: rotate(90deg);
	width: 400px;
}

#computer-two.bingo-card .name::before {background-color: var(--computer-two-secondary);}

.name span {
	background: #fff;
	padding: 0 10px;
	position: relative;
	transition: .2s ease-in-out;
}

.name span.answer-reaction {
	left: 50%;
	position: absolute;
	transform: translate(-50%,0);
	white-space: nowrap;
	z-index: 4;
}

.name span.hide {
	opacity: 0;
}

.tiles-container {
	border-radius: 4px;
	display: grid;
	grid-gap: var(--card-gap);
	grid-template-columns: repeat(5, calc(20% - var(--card-gap)));
}

.header-tiles {
	font-family: 'MADE Tommy Soft Bold';
	font-size: 20px;
	height: 15%;
	padding: var(--card-gap) 0 var(--card-gap) var(--card-gap);
}

.game-tiles {
	font-family: 'MADE Tommy Soft 500';
	font-size: 16px;
	grid-template-rows: repeat(5, calc(20% - var(--card-gap)));
	height: 85%;
	padding: var(--card-gap) 0 0 var(--card-gap);
}

#computer-one.bingo-card .game-tiles {
	background-color: var(--computer-one-secondary);
	color: var(--computer-one-secondary);
}

#player.bingo-card .game-tiles {
	background-color: var(--player-secondary);
	color: var(--player-secondary);
}

#computer-two.bingo-card .game-tiles {
	background-color: var(--computer-two-secondary);
	color: var(--computer-two-secondary);
}

.tile {
	align-items: center;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	transition: .2s ease-in-out;
}

.header-tiles .tile {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.game-tiles .tile {background-color: #fff;}
.game-tiles .tile:not(.free-tile).hide {color: #fff;}

.game-tiles .tile.free-tile {
	font-family: 'Star Things 2';
	font-size: 20px;
}

.game-tiles .tile.hit {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

#computer-one.bingo-card .game-tiles .tile.hit {background-color: var(--computer-one-primary);}
#player.bingo-card .game-tiles .tile.hit {background-color: var(--player-primary);}
#computer-two.bingo-card .game-tiles .tile.hit {background-color: var(--computer-two-primary);}

.game-tiles .tile.winner {animation: .6s winner infinite;}

@keyframes winner {50% {transform: scale(0.9);}}

footer {
	display: grid;
	grid-area: footer;
	grid-gap: 0 50px;
	grid-template-columns: repeat(3, calc(var(--card-size) - 35px));
	padding: 30px 0 0 0;
	width: 100%;
}

footer div {
	position: relative;
	text-align: center;
	width: 100%;
}

footer button {
	background-color: transparent;
	border: 6px solid;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'MADE Tommy Soft Bold';
	font-size: 17px;
	padding: 8px 15px 9px 15px;
	text-transform: uppercase;
	transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

footer button.dim {
	opacity: .5;
	pointer-events: none;
}

footer button.hide {
	opacity: 0;
	visibility: hidden;
}

footer button#generate-cards {
	border-bottom-color: var(--computer-one-secondary);
	border-left-color: var(--computer-one-primary);
	border-right-color: var(--computer-one-secondary);
	border-top-color: var(--computer-one-primary);
	color: var(--computer-one-secondary);
}

footer button#draw-number, footer button#reset-game {
	border-bottom-color: var(--player-secondary);
	border-left-color: var(--player-primary);
	border-right-color: var(--player-secondary);
	border-top-color: var(--player-primary);
	color: var(--player-secondary);
}

footer button#draw-number.dim {
	opacity: .6;
	pointer-events: none;
}

footer button#reset-game {
	left: 50%;
	position: absolute;
	transform: translate(-50%,0);
	white-space: nowrap;
}

footer button#reset-game.hide {
	opacity: 0;
	visibility: hidden;
}

footer button:not(#reset-game):active {transform: translateY(2px);}
footer button#reset-game:active {
	transform: translate(-50%, 2px);
}

footer #winning-numbers-container {
	transition: .2s ease-in-out;
}

footer #winning-numbers-container.hide {
	opacity: 0;
	visibility: hidden;
}

/* overflow container for scrolling */
#winning-numbers-overflow {
	overflow: auto;
	scrollbar-width: none;
	width: calc(var(--card-size) - 35px);white-space: nowrap;
}

#winning-numbers-overflow::-webkit-scrollbar {height: 0px;}

#winning-numbers {color: #333;}

#winning-numbers .winning-number {
	align-items: center;
	background-color: #fff;
	border: 6px solid;
	border-radius: 4px;
	display: inline-flex;
	font-family: 'MADE Tommy Soft Bold';
	font-size: 15px;
	height: 50px;
	justify-content: center;
	opacity: 0;
	padding: 6px 12px;
	text-transform: uppercase;
	transition: .2s ease-in-out;
	width: 50px;
}

#winning-numbers .winning-number.show {
	opacity: 0.7;
	transform: scale(0.7);
}

#winning-numbers .winning-number.show:first-child {
	margin-left: 20px;
	margin-right: 10px;
	opacity: 1;
	transform: scale(1);
}

#winning-numbers .winning-number.show:last-child {
	margin-right: 10px;
}

#winning-numbers .winning-number.only-computer-one, .example-winning-tile.c-one {
	border-bottom-color: var(--computer-one-secondary);
	border-left-color: var(--computer-one-primary);
	border-right-color: var(--computer-one-secondary);
	border-top-color: var(--computer-one-primary);
	color: var(--computer-one-secondary);
}

#winning-numbers .winning-number.only-player, .example-winning-tile.p {
	border-bottom-color: var(--player-secondary);
	border-left-color: var(--player-primary);
	border-right-color: var(--player-secondary);
	border-top-color: var(--player-primary);
	color: var(--player-secondary);
}

#winning-numbers .winning-number.only-computer-two, .example-winning-tile.c-two {
	border-bottom-color: var(--computer-two-secondary);
	border-left-color: var(--computer-two-primary);
	border-right-color: var(--computer-two-secondary);
	border-top-color: var(--computer-two-primary);
	color: var(--computer-two-secondary);
}

#winning-numbers .winning-number.computer-one-player, .example-winning-tile.c-one-p {
	background-image: linear-gradient(90deg, var(--computer-one-primary), var(--player-secondary));
	background-repeat: repeat;
	background-size: 100%;
	border-bottom-color: var(--player-primary);
	border-left-color: var(--computer-one-primary);
	border-right-color: var(--player-secondary);
	border-top-color: var(--computer-one-secondary);
	color: #333;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#winning-numbers .winning-number.computer-one-computer-two, .example-winning-tile.c-one-c-two {
	background-image: linear-gradient(90deg, var(--computer-one-primary), var(--computer-two-secondary));
	background-repeat: repeat;
	background-size: 100%;
	border-bottom-color: var(--computer-two-primary);
	border-left-color: var(--computer-one-primary);
	border-right-color: var(--computer-two-secondary);
	border-top-color: var(--computer-one-secondary);
	color: #333;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#winning-numbers .winning-number.player-computer-two, .example-winning-tile.p-c-two {
	background-image: linear-gradient(90deg, var(--player-primary), var(--computer-two-secondary));
	background-repeat: repeat;
	background-size: 100%;
	border-bottom-color: var(--computer-two-primary);
	border-left-color: var(--player-primary);
	border-right-color: var(--computer-two-secondary);
	border-top-color: var(--player-secondary);
	color: #333;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#winning-numbers .winning-number.computers-player, .example-winning-tile.all-three {
	background-image: linear-gradient(90deg, #818181, var(--computer-one-primary));
	background-repeat: repeat;
	background-size: 100%;
	border-bottom-color: var(--computer-two-primary);
	border-left-color: #818181;
	border-right-color: var(--computer-one-primary);
	border-top-color: var(--player-primary);
	color: #383838;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#winning-numbers .winning-number.no-match, .example-winning-tile.none {
	border-bottom-color: #383838;
	border-left-color: #818181;
	border-right-color: #383838;
	border-top-color: #818181;
	color: #383838;
}

#gradient {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.7+60,1+81,1+100 */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 60%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 100%);
/* 	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(255,255,255,0.7) 60%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 60%,rgba(255,255,255,1) 81%,rgba(255,255,255,1) 100%); */
	bottom: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#fff',GradientType=1 );
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: .2s ease-in-out;
	width: 50px;
	z-index: 99;
}

.stars {
	height: 100px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 100px;
}

.starzz {
	border-radius: 2px;
	left: 50%;
	margin-left: 0;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.triangle {
	border-bottom: 10px solid;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	height: 0!important;
	width: 0!important;
}


main#bingo-cards.three-way-tie .confetti-color-one, main#bingo-cards.computer-one-and-player-win .confetti-color-one, main#bingo-cards.computer-one-and-computer-two-win .confetti-color-one, main#bingo-cards.computer-one-and-computer-two-win .confetti-color-five, main#bingo-cards.computer-one-win .confetti-color-one, main#bingo-cards.computer-one-win .confetti-color-two, main#bingo-cards.computer-one-win .confetti-color-three {
	background-color: var(--computer-one-primary);
	border-bottom-color: var(--computer-one-primary)!important;
}
main#bingo-cards.three-way-tie .confetti-color-three, main#bingo-cards.computer-one-and-player-win .confetti-color-three, main#bingo-cards.computer-one-and-player-win .confetti-color-six, main#bingo-cards.computer-one-win .confetti-color-four, main#bingo-cards.computer-one-win .confetti-color-five, main#bingo-cards.computer-one-win .confetti-color-six, main#bingo-cards.computer-one-and-computer-two-win .confetti-color-three {
	background-color: var(--computer-one-secondary);
	border-bottom-color: var(--computer-one-secondary)!important;	
}
main#bingo-cards.three-way-tie .confetti-color-two, main#bingo-cards.computer-one-and-player-win .confetti-color-two, main#bingo-cards.computer-one-and-player-win .confetti-color-five, main#bingo-cards.player-and-computer-two-win .confetti-color-one, main#bingo-cards.player-win .confetti-color-one, main#bingo-cards.player-win .confetti-color-two, main#bingo-cards.player-win .confetti-color-three {
	background-color: var(--player-primary);
	border-bottom-color: var(--player-primary)!important;
}

main#bingo-cards.three-way-tie .confetti-color-four, main#bingo-cards.computer-one-and-player-win .confetti-color-four, main#bingo-cards.player-win .confetti-color-four, main#bingo-cards.player-win .confetti-color-five, main#bingo-cards.player-win .confetti-color-six {
	background-color: var(--player-secondary);
	border-bottom-color: var(--player-secondary)!important;
}
main#bingo-cards.three-way-tie .confetti-color-six, main#bingo-cards.computer-one-and-computer-two-win .confetti-color-two, main#bingo-cards.player-and-computer-two-win .confetti-color-two, main#bingo-cards.player-and-computer-two-win .confetti-color-five, main#bingo-cards.computer-two-win .confetti-color-one, main#bingo-cards.computer-two-win .confetti-color-two, main#bingo-cards.computer-two-win .confetti-color-three {
	background-color: var(--computer-two-primary);
	border-bottom-color: var(--computer-two-primary)!important;
}
main#bingo-cards.three-way-tie .confetti-color-five, 
main#bingo-cards.computer-one-and-computer-two-win .confetti-color-four, 
main#bingo-cards.computer-one-and-computer-two-win .confetti-color-six, 
main#bingo-cards.player-and-computer-two-win .confetti-color-three, 
main#bingo-cards.player-and-computer-two-win .confetti-color-four, 
main#bingo-cards.computer-two-win .confetti-color-four, 
main#bingo-cards.computer-two-win .confetti-color-five, 
main#bingo-cards.computer-two-win .confetti-color-six {
	background-color: var(--computer-two-secondary);
	border-bottom-color: var(--computer-two-secondary)!important;
}


@font-face {
font-display: swap;
font-family: 'MADE Tommy Soft Bold';
font-style: normal;
font-weight: bold;
src: url('fonts/MADETommySoft-Bold.woff') format('woff');
}

@font-face {
font-display: swap;
font-family: 'Star Things 2';
font-style: normal;
font-weight: 100;
src: url('fonts/Star-Things2.woff') format('woff');
}

@font-face {
font-display: swap;
font-family: 'MADE Tommy Soft 500';
font-style: normal;
font-weight: 500;
src: url('fonts/MADETommySoft-Medium.woff') format('woff');
}