@font-face {
	font-family: 'Durian Days';
	src: url("https://assets.codepen.io/8370674/DurianDays.woff2") format('woff2'),
			url("https://assets.codepen.io/8370674/DurianDays.woff") format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	overflow-x: hidden;
}

#container {
	margin-bottom: auto;
	margin-top: auto;
}

#bingo-card {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(5, auto);
	height: 500px;
	width: 500px;
}

.square {
	height: 84px;
	width: 84px;
	align-items: center;
	background-color: #333;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
	display: flex;
	font-family: "Durian Days";
	font-size: 30px;
	justify-content: center;
	letter-spacing: 1px;
	position: relative;
	transition: .2s ease-in-out;
	user-select: none;
}

.square.hide-number {
	color: rgba(255,255,255,0);
	text-shadow: 1px 1px 1px rgba(0,0,0,0);
}

.square.show-number {
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.square::after {
	background: red;
	border-radius: 99999px;
	content: "";
	height: 20px;
	opacity: 0;
	position: absolute;
	transform: scale(20);
	transition: .3s ease-in-out;
	visibility: hidden;
	width: 20px;
}

.square.hit::after {
	opacity: .5;
	transform: scale(3);
	visibility: visible;
}

#card-button {
	margin-top: 30px;
	text-align: center;
}