@font-face {
	font-family: 'Durian Days';
	src: url("fonts/DurianDays.woff2") format('woff2'),
			url("fonts/DurianDays.woff") format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

#container {
	margin-bottom: auto;
	margin-top: auto;
}

#bingo-card {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(5, auto);
	height: 500px;
	width: 500px;
}

.square {
	align-items: center;
	background-color: #333;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
	color: #fff;
	display: flex;
	font-family: "Durian Days";
	font-size: 30px;
	justify-content: center;
	letter-spacing: 1px;
	position: relative;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

span.number {
	position: absolute;
	transition: .2s ease-in-out;
}

#card-button {
	margin-top: 30px;
	text-align: center;
}

.hide {
	opacity: 0;
}